body {
  font-family: sans-serif;
}

li {
  font-family: inherit;
}

h1 {
  color: #f35588;
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.class-green code {
  color: green;
}

li + li {
  background: black;
  color: white;
}

/* ol li {
  background: black;
  color: white;
} */
